<!doctype html>
<html lang="zh-cn">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <link rel="stylesheet" type="text/css" href="./asset/css/pintuer.css" />
  <link rel="stylesheet" type="text/css" href="./asset/css/admin.css" />
  <link rel="stylesheet" type="text/css" href="./asset/layui/css/layui.css" />
</head>

<body>
  <div class="panel admin-panel" id="app">
    <div class="body-content">
      <div class="form-x">
        <div class="form-group">
          <div class="label">
            用户名：
          </div>
          <div class="field">
            <label style="line-height:33px;">
              {{ adminname }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            <label>旧密码：</label>
          </div>
          <div class="field">
            <input type="password" class="input w50" id="password" v-model="password" placeholder="请输入旧密码" />
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            <label>新密码：</label>
          </div>
          <div class="field">
            <input type="password" class="input w50" id="newpassword" v-model="newpassword" placeholder="请输入新密码" />
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            <label>确认密码：</label>
          </div>
          <div class="field">
            <input type="password" class="input w50" id="repassword" v-model="repassword" placeholder="请输入确认密码" />
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            <label></label>
          </div>
          <div class="field">
            <button class="button bg-main icon-check-square-o" type="button" @click.prevent="editpwd()"> 提交</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="./asset/js/jquery.js"></script>
  <script type="text/javascript" src="./asset/js/pintuer.js"></script>
  <script type="text/javascript" src="./asset/layui/layui.js"></script>
  <script type="text/javascript" src="./asset/js/axios.min.js"></script>
  <script type="text/javascript" src="./asset/js/vue.js"></script>
	<script type="text/javascript">
		const vue = new Vue({ // 实例化Vue对象
			el: '#app',// 绑定作用域
			data: { //定义数据
				adminid: '',
				adminname: '',
				password: '',
				newpassword: '',
				repassword: '',
			},
			methods: {
				editpwd: function () { // 修改按钮点击事件
					let _this = this;
					var data = {
						password: _this.password,
						repassword: _this.repassword,
					};
					axios.post('http://localhost:8080/vue_wsdcxt/admin/editpwd.action', data).then(result => {
						alert(result.data.message);
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					});
				},
				reset: function () { // 重置按钮点击事件
					password = '';
					newpassword = '';
					repassword = '';
				},
				validate: function () { // 验证输入非空

				},
				loadPage: function () { // 页面加载
					this.adminname = sessionStorage.getItem('adminname');
				},
			},
			created() { // 生命周期相关的函数
				this.loadPage();
			},
		})
	</script>

</body>

</html>


