<!doctype html>
<html lang="zh-cn">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>网上订餐系统后台管理</title>
    <link rel="stylesheet" type="text/css" href="./asset/css/pintuer.css">
    <link rel="stylesheet" type="text/css" href="./asset/css/admin.css">
</head>

<body>
    <div class="bg"></div>
    <div class="container" id="app">
        <div class="line bouncein">
            <div class="xs6 xm4 xs3-move xm4-move">
                <div style="height:150px;"></div>
                <div class="media media-y margin-big-bottom">
                </div>
                <div class="panel loginbox">
                    <div class="text-center margin-big padding-big-top">
                        <h1>网上订餐系统后台管理</h1>
                    </div>
                    <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input id="username" v-model="username" type="text" placeholder="请输入用户名"
                                    class="input input-big" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input id="password" v-model="password" type="password" placeholder="请输入密码"
                                    class="input input-big" />
                            </div>
                        </div>
                    </div>
                    <div style="padding:30px;"><input type="button"
                            class="button button-block bg-main text-big input-big" value="登录" @click="toLogin()"></div>
                </div>
            </div>
        </div>
    </div>

    <!--下方是此页面业务相关的脚本-->
    <script type="text/javascript" src="./asset/js/jquery.js"></script>
    <script type="text/javascript" src="./asset/js/pintuer.js"></script>
    <script type="text/javascript" src="./asset/js/axios.min.js"></script>
    <script type="text/javascript" src="./asset/js/vue.js"></script>
    <script type="text/javascript">
      const vue = new Vue({ // 实例化Vue对象
        el: '#app',// 绑定作用域
        data: { //定义数据
          username: '',
          password: '',
        },
        methods: {
          toLogin: function () {
            let _this = this;
            if (_this.username == '') {
              alert('请输入用户名');
              return;
            }
            if (_this.password == '') {
              alert('请输入密码');
              return;
            }
            var data = {
              username: _this.username,
              password: _this.password,
            }
            axios.post('http://localhost:8080/vue_wsdcxt/login/login.action', data).then(result => {
              if (result.data.success) {
                sessionStorage.setItem('adminname', result.data.adminname);
                sessionStorage.setItem('realname', result.data.realname);
                sessionStorage.setItem('role', result.data.role);
                window.location.href = 'main.html';
              } else {
                alert(result.data.message);
                _this.reset();
              }
            })
          },
          reset: function () {
            this.username = '';
            this.password = '';
          },
        },
        created() { // 生命周期相关的函数
          sessionStorage.clear();
        },
      })
    </script>

</body>

</html>


