<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>缃戜笂璁㈤绯荤粺</title>
    <link href="./themes/ecmoban_dangdang/style.css" rel="stylesheet" type="text/css" />
    <link href="./themes/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="./themes/index.js"></script>
    <script type="text/javascript" src="./themes/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./themes/swiper.min.css" />
    <link rel="stylesheet" href="./themes/smart-meal.css">
    <style>
        [v-cloak] { display: none !important; }
        .swiper-container{
            width: 1200px;
            height: 300px;
            margin: 0px auto;
        }
        .swiper-slide img{
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div class="top_nav">
            <div class="block">
                <ul class="top_bav_l">
                </ul>
                <div class="header_r">
                    <font id="ECS_MEMBERZONE" v-if="islogin"> 娆㈣繋鍏変复鏈珯锛?<s></s>&nbsp; <span> <a style="color: #FF6766;"
                        href="login.html">[鐢ㄦ埛鐧诲綍]</a> <a style="color: #FF6766;" href="register.html">[鐢ㄦ埛娉ㄥ唽]</a>
                </span>
                    </font>
                    <font id="ECS_MEMBERZONE" v-if="!islogin"> 浣犲ソ <b>{{ realname }}</b> <span><a
                        style="color: #FF6766;" href="cart.html">[璐墿杞</a><a style="color: #FF6766;" href="usercenter.html">[鐢ㄦ埛涓績]</a> <a
                        style="color: #FF6766;" href="exit.html">[閫€鍑虹郴缁焆 </a> </span>
                    </font>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="block header">
                <div class="top">
                    <a href="index.html" class="logo"><img src="themes/ecmoban_dangdang/images/logo.gif" alt="" /></a>
                    <div class="top_search">
                        <input name="keywords" type="text" class="keyword" v-model="key" />
                        <input value="" id="seachbtn" type="button" @click="query">
                    </div>
                    <div class="head_r">
                        <div class="top_shopCart clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="menu_box clearfix">
            <div class="block">
                <div class="menu">
                    <a href="index.html" class="cur" rel="nofollow">缃戠珯棣栭〉</a>
                    <a href="article.html" class="cur" rel="nofollow">缃戠珯鍏憡</a>
                    <a href="special.html" class="cur" rel="nofollow">鐗逛环椋熷搧</a>
                    <a href="recommend.html" class="cur" rel="nofollow">鎺ㄨ崘椋熷搧</a>
                    <a href="all.html" class="cur" rel="nofollow">鍏ㄩ儴椋熷搧</a>
                </div>
            </div>
        </div>
        <button type="button" class="smart-meal-launcher" @click="openSmartMeal">鏅鸿兘閫夐鍔╂墜</button>
        <div class="smart-meal-mask" v-if="smartMealVisible" @click.self="closeSmartMeal" @keydown.esc="closeSmartMeal">
            <section class="smart-meal-dialog" role="dialog" aria-modal="true" aria-labelledby="smart-meal-title">
                <h2 id="smart-meal-title" v-text="'浣犲ソ锛? + username + '锛佷粖澶╂兂鍚冧粈涔堬紵'"></h2>
                <p>鍛婅瘔鎴戝彛鍛炽€侀绠楁垨蹇屽彛锛屾垜浼氫粠鐜版湁椁愬搧涓负浣犳寫閫夈€?/p>
                <label for="smart-requirement">鐢ㄩ闇€姹?/label>
                <textarea id="smart-requirement" ref="smartInput" v-model="smartRequirement" maxlength="500" :disabled="smartLoading" placeholder="渚嬪锛氶绠?30 鍏冿紝鎯冲悆娓呮贰鐨勶紝涓嶈杈?></textarea>
                <div class="smart-meal-actions">
                    <button type="button" @click="closeSmartMeal">鍏抽棴</button>
                    <button type="button" class="smart-meal-primary" @click="getSmartRecommendations" :disabled="smartLoading" v-text="smartLoading ? '姝ｅ湪鎸戦€夆€? : '寮€濮嬮€夐'"></button>
                </div>
                <p role="status" aria-live="polite" v-if="smartMessage" v-text="smartMessage"></p>
                <article class="smart-meal-card" v-for="(item, index) in smartRecommendations" :key="item.foodsid">
                    <img :src="'../upfiles/' + encodeURIComponent(item.image)" :alt="item.foodsname">
                    <div class="smart-meal-details">
                        <h3 v-text="'鏂规' + (index + 1) + '锛? + item.foodsname"></h3>
                        <strong v-text="'锟? + item.price"></strong>
                        <p v-text="item.reason"></p>
                    </div>
                    <button type="button" class="smart-meal-primary" @click="addSmartMealToCart(item)" :disabled="item.adding || item.added" v-text="item.added ? '宸插姞鍏? : (item.adding ? '姝ｅ湪鍔犲叆鈥? : '鍔犲叆璐墿杞?)"></button>
                </article>
                <a v-if="smartRecommendations.length" href="cart.html">鏌ョ湅璐墿杞?/a>
            </section>
        </div>
        <div class="blank5"></div>
        <div class="block clearfix">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="./pic/001.webp"></div>
                    <div class="swiper-slide"><img src="./pic/002.webp"></div>
                    <div class="swiper-slide"><img src="./pic/003.webp"></div>
                    <div class="swiper-slide"><img src="./pic/004.webp"></div>
                    <div class="swiper-slide"><img src="./pic/005.webp"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="blank"></div>
            <div class="goodsBox_1">
                <div class="xm-box" v-for="item in front" :key="item.cateid">
                    <h4 class="title">
                        <span>{{ item.catename }}</span> <a class="more" :href="'cate.html?id='+item.cateid+''">鏇村</a>
                    </h4>
                    <div class="smart-food-grid">
                        <div class="pic" v-for="x in item.foodsList" :key="x.foodsid">
                            <a :href="'detail.html?id='+x.foodsid+''"><img :src="'http://localhost:8080/vue_wsdcxt/upfiles/'+x.image" class="img" /></a>
                            <p class="name">
                                <a :href="'detail.html?id='+x.foodsid+''" title="">{{x.foodsname}}</a>
                            </p>
                            <p class="price">
                                浠锋牸锛?                                <font class="f1"> 锟{x.price}}鍏?</font>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="blank"></div>
            </div>
        </div>
        <div id="footer">
            <div class="footer">
                <div class="footer_nav_box">
                    <div class="footer_copyright">
                        <span> &copy; 缃戜笂璁㈤绯荤粺 鐗堟潈鎵€鏈夛紝骞朵繚鐣欐墍鏈夋潈鍒┿€?br /> <br />鏈嶅姟鏃堕棿锛?9:00-23:00<br /> <br /> <a href="../admin/index.html"
                            target="_blank">绠＄悊鍛樺叆鍙?/a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../admin/asset/js/jquery.js"></script>
<script type="text/javascript" src="../admin/asset/js/axios.min.js"></script>
<script type="text/javascript" src="../admin/asset/js/vue.js"></script>
<script src="./smart-meal.js"></script>

</html>


