<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>网上订餐系统</title>
    <link href="./themes/ecmoban_dangdang/style.css" rel="stylesheet" type="text/css" />
    <link href="./themes/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="./themes/index.js"></script>
    <script type="text/javascript" src="./themes/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./themes/swiper.min.css" />
    <link rel="stylesheet" href="./themes/smart-meal.css">
    <style>
        [v-cloak] { display: none !important; }
        .swiper-container{
            width: 1200px;
            height: 300px;
            margin: 0px auto;
        }
        .swiper-slide img{
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div class="top_nav">
            <div class="block">
                <ul class="top_bav_l">
                </ul>
                <div class="header_r">
                    <font id="ECS_MEMBERZONE" v-if="islogin"> 欢迎光临本站！ <s></s>&nbsp; <span> <a style="color: #FF6766;"
                        href="login.html">[用户登录]</a> <a style="color: #FF6766;" href="register.html">[用户注册]</a>
                </span>
                    </font>
                    <font id="ECS_MEMBERZONE" v-if="!islogin"> 你好 <b>{{ realname }}</b> <span><a
                        style="color: #FF6766;" href="cart.html">[购物车]</a><a style="color: #FF6766;" href="usercenter.html">[用户中心]</a> <a
                        style="color: #FF6766;" href="exit.html">[退出系统] </a> </span>
                    </font>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="block header">
                <div class="top">
                    <a href="index.html" class="logo"><img src="themes/ecmoban_dangdang/images/logo.gif" alt="" /></a>
                    <div class="top_search">
                        <input name="keywords" type="text" class="keyword" v-model="key" />
                        <input value="" id="seachbtn" type="button" @click="query">
                    </div>
                    <div class="head_r">
                        <div class="top_shopCart clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="menu_box clearfix">
            <div class="block">
                <div class="menu">
                    <a href="index.html" class="cur" rel="nofollow">网站首页</a>
                    <a href="article.html" class="cur" rel="nofollow">网站公告</a>
                    <a href="special.html" class="cur" rel="nofollow">特价食品</a>
                    <a href="recommend.html" class="cur" rel="nofollow">推荐食品</a>
                    <a href="all.html" class="cur" rel="nofollow">全部食品</a>
                </div>
            </div>
        </div>
        <button type="button" class="smart-meal-launcher" @click="openSmartMeal">智能选餐助手</button>
        <div class="smart-meal-mask" v-if="smartMealVisible" @click.self="closeSmartMeal" @keydown.esc="closeSmartMeal">
            <section class="smart-meal-dialog" role="dialog" aria-modal="true" aria-labelledby="smart-meal-title">
                <h2 id="smart-meal-title" v-text="'你好，' + username + '！今天想吃什么？'"></h2>
                <p>想要一荤一素、两荤一素或一菜一汤？每类最多挑选 3 个候选，由你自由加购。</p>
                <label for="smart-requirement">用餐需求</label>
                <textarea id="smart-requirement" ref="smartInput" v-model="smartRequirement" maxlength="500" :disabled="smartLoading || smartAdding" placeholder="例如：预算 30 元，想吃清淡的，不要辣"></textarea>
                <div class="smart-meal-actions">
                    <button type="button" @click="closeSmartMeal">关闭</button>
                    <button type="button" class="smart-meal-primary" @click="getSmartRecommendations(false)" :disabled="smartLoading || smartAdding" v-text="smartLoading ? '正在挑选…' : '开始选餐'"></button>
                </div>
                <button type="button" v-if="smartSubmittedRequirement" :disabled="smartLoading || smartAdding" @click="getSmartRecommendations(true)">按原需求换一批</button>
                <p role="status" aria-live="polite" v-if="smartMessage" v-text="smartMessage"></p>
                <div class="smart-meal-summary" v-if="smartGroups.length">
                    <strong v-text="smartSummary"></strong>
                    <p>每组是可选菜品，不是必须全部购买。按建议数量搭配，也可以自行增减。预算仅统计本轮加购，不含购物车原有餐品。</p>
                </div>
                <section class="smart-meal-group" v-for="group in smartGroups" :key="group.type">
                    <h3 class="smart-meal-group-title" v-text="group.label + ' · ' + group.items.length + ' 个候选'"></h3>
                    <p v-text="'建议选择 ' + group.count + ' 道，已加入 ' + selectedCount(group.type) + ' 道'"></p>
                    <article class="smart-meal-card" v-for="item in group.items" :key="item.foodsid">
                        <img :src="'../upfiles/' + encodeURIComponent(item.image)" :alt="item.foodsname">
                        <div class="smart-meal-details">
                            <h3 v-text="item.foodsname"></h3>
                            <strong v-text="'￥' + Number(item.price).toFixed(2)"></strong>
                            <p v-text="item.reason"></p>
                        </div>
                        <button type="button" class="smart-meal-primary" @click="addSmartMealToCart(item, group)" :disabled="smartLoading || smartAdding || hasAdded(item) || exceedsBudget(item)" v-text="addLabel(item)"></button>
                    </article>
                </section>
                <p v-if="smartGroups.length">分类和口味依据现有名称、介绍判断，配料信息不全；严格忌口请向商家确认。</p>
                <a v-if="smartGroups.length" href="cart.html">查看购物车</a>
            </section>
        </div>
        <div class="blank5"></div>
        <div class="block clearfix">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="./pic/001.webp"></div>
                    <div class="swiper-slide"><img src="./pic/002.webp"></div>
                    <div class="swiper-slide"><img src="./pic/003.webp"></div>
                    <div class="swiper-slide"><img src="./pic/004.webp"></div>
                    <div class="swiper-slide"><img src="./pic/005.webp"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="blank"></div>
            <div class="goodsBox_1">
                <div class="xm-box" v-for="item in front" :key="item.cateid">
                    <h4 class="title">
                        <span>{{ item.catename }}</span> <a class="more" :href="'cate.html?id='+item.cateid+''">更多</a>
                    </h4>
                    <div class="smart-food-grid">
                        <div class="pic" v-for="x in item.foodsList" :key="x.foodsid">
                            <a :href="'detail.html?id='+x.foodsid+''"><img :src="'http://localhost:8080/vue_wsdcxt/upfiles/'+x.image" class="img" /></a>
                            <p class="name">
                                <a :href="'detail.html?id='+x.foodsid+''" title="">{{x.foodsname}}</a>
                            </p>
                            <p class="price">
                                价格：
                                <font class="f1"> ￥{{x.price}}元 </font>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="blank"></div>
            </div>
        </div>
        <div id="footer">
            <div class="footer">
                <div class="footer_nav_box">
                    <div class="footer_copyright">
                        <span> &copy; 网上订餐系统 版权所有，并保留所有权利。<br /> <br />服务时间：09:00-23:00<br /> <br /> <a href="../admin/index.html"
                            target="_blank">管理员入口</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../admin/asset/js/jquery.js"></script>
<script type="text/javascript" src="../admin/asset/js/axios.min.js"></script>
<script type="text/javascript" src="../admin/asset/js/vue.js"></script>
<script src="./smart-meal.js"></script>

</html>


