<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>网上订餐系统</title>
    <link href="./themes/ecmoban_dangdang/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="app">
        <div class="top_nav">
            <div class="block">
                <ul class="top_bav_l">
                </ul>
                <div class="header_r">
                    <font id="ECS_MEMBERZONE" v-if="islogin"> 欢迎光临本站！ <s></s>&nbsp; <span> <a style="color: #FF6766;"
                        href="login.html">[用户登录]</a> <a style="color: #FF6766;" href="register.html">[用户注册]</a>
                </span>
                    </font>
                    <font id="ECS_MEMBERZONE" v-if="!islogin"> 你好 <b>{{ realname }}</b> <span><a
                        style="color: #FF6766;" href="cart.html">[购物车]</a><a style="color: #FF6766;" href="usercenter.html">[用户中心]</a> <a
                        style="color: #FF6766;" href="exit.html">[退出系统] </a> </span>
                    </font>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="block header">
                <div class="top">
                    <a href="index.html" class="logo"><img src="themes/ecmoban_dangdang/images/logo.gif" /></a>
                    <div class="top_search">
                        <input name="keywords" type="text" class="keyword" v-model="key" />
                        <input value="" id="seachbtn" type="button" @click="query">
                    </div>
                    <div class="head_r">
                        <div class="top_shopCart clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="menu_box clearfix">
            <div class="block">
                <div class="menu">
                    <a href="index.html" class="cur" rel="nofollow">网站首页</a>
                    <a href="article.html" class="cur" rel="nofollow">网站公告</a>
                    <a href="special.html" class="cur" rel="nofollow">特价食品</a>
                    <a href="recommend.html" class="cur" rel="nofollow">推荐食品</a>
                    <a href="all.html" class="cur" rel="nofollow">全部食品</a>
                </div>
            </div>
        </div>
        <div class="block box">
            <div class="blank"></div>
            <div id="ur_here">
                当前位置: <a href="index.html">首页</a>
                <code> &gt; </code> 用户中心<code> &gt; </code> 我的订单
            </div>
        </div>
        <div class="blank"></div>

        <div class="blank"></div>
        <div class="block clearfix">
            <div class="AreaL">
                <div class="box">
                    <div class="box_1">
                        <div class="userCenterBox">
                            <div class="userMenu">
                                <a href="usercenter.html"><img src="themes/ecmoban_dangdang/images/u2.gif" alt="" />用户中心</a>
                                <a href="userinfo.html"><img src="themes/ecmoban_dangdang/images/u2.gif" alt="" />用户信息</a>
                                <a href="editpwd.html"><img src="themes/ecmoban_dangdang/images/u3.gif" alt="" />修改密码</a>
                                <a href="orderslist.html"><img src="themes/ecmoban_dangdang/images/u3.gif" alt="" />我的订单</a>
                                <a href="myfav.html"><img src="themes/ecmoban_dangdang/images/u3.gif" alt="" />我的收藏</a>
                                <a href="addcomplains.html"><img src="themes/ecmoban_dangdang/images/u3.gif" alt="" />意见反馈</a>
                                <a href="mycomplains.html"><img src="themes/ecmoban_dangdang/images/u3.gif" alt="" />我的意见反馈</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="AreaR">
                <div class="box">
                    <div class="box_1">
                        <div class="userCenterBox boxCenterList clearfix" style="_height: 1%;">
                            <h5>
                                <span>我的订单</span>
                            </h5>
                            <div class="blank"></div>
                            <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                                <tr>
                                    <td align="center" bgcolor="#ffffff">订单号</td>
                                    <td align="center" bgcolor="#ffffff">总计</td>
                                    <td align="center" bgcolor="#ffffff">生成日期</td>
                                    <td align="center" bgcolor="#ffffff">状态</td>
                                    <td align="center" bgcolor="#ffffff">收货人</td>
                                    <td align="center" bgcolor="#ffffff">送货地址</td>
                                    <td align="center" bgcolor="#ffffff">联系方式</td>
                                    <td align="center" bgcolor="#ffffff">操作</td>
                                </tr>
                                <tr align="center" bgcolor="#ffffff" v-for="item in ordersList" :key="item.ordersid">
                                    <td style="text-align: center">{{ item.ordercode }}</td>
                                    <td style="text-align: center">{{ item.total }}</td>
                                    <td style="text-align: center">{{ item.addtime }}</td>
                                    <td style="text-align: center">{{ item.status }}</td>
                                    <td style="text-align: center">{{ item.receiver }}</td>
                                    <td style="text-align: center">{{ item.address }}</td>
                                    <td style="text-align: center">{{ item.contact }}</td>
                                    <td>
                                        <a href="javascript:;" @click="orderHistory(item.ordersid)">操作记录 / 退款结果</a>&nbsp;
                                        <span v-if="item.status == '待付款'">
                                            <a :href="'pay.html?id='+item.ordersid" >付款</a>&nbsp;
                                            <a href="javascript:;" @click="cancelOrder(item.ordersid)">取消订单</a>&nbsp;
                                        </span>
                                        <span v-if="item.status == '已付款' || item.status == '已接单'">
                                            <a href="javascript:;" @click="refundOrder(item.ordersid)">申请退款</a>&nbsp;
                                        </span>
                                        <span v-if="item.status == '配送中'">
                                            <a href="javascript:;" @click="toOver(item.ordersid)">确认完成</a>&nbsp;
                                        </span>
                                        <span v-if="item.status == '已完成'">
                                            <a :href="'addtopic.html?id='+item.ordersid" >评价订单</a>&nbsp;
                                        </span>
                                        <a :href="'orderdetail.html?id='+item.ordercode">订单明细</a>
                                    </td>
                                </tr>
                            </table>
                            <div class="blank5"></div>
                            <!-- 存放分页的容器 -->
                            <div id="layui" style="text-align: center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank"></div>
        <div id="footer">
            <div class="footer">
                <div class="footer_nav_box">
                    <div class="footer_copyright">
                        <span> &copy; 网上订餐系统 版权所有，并保留所有权利。<br /> <br />服务时间：09:00-23:00<br /> <br /> <a href="../admin/index.html"
                            target="_blank">管理员入口</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../admin/asset/layui/layui.js"></script>
<script type="text/javascript" src="../admin/asset/js/jquery.js"></script>
<script type="text/javascript" src="../admin/asset/js/axios.min.js"></script>
<script src="../order-access.js"></script>
<script type="text/javascript" src="../admin/asset/js/vue.js"></script>
<script type="text/javascript">
    const vue = new Vue({ // 实例化Vue对象
        el: '#app', // 绑定作用域
        data: { //定义数据 用于vue的双向绑定
            islogin: '',
            userid: '',
            realname: '', // 定义姓名数据
            ordersList: {},
            page: {},
            count: 0,
            page: 1,
            limit: 10,
            key: '',
        },
        methods: {
            loadTable: function() { // 查询订单信息的函数
                let _this = this;
                _this.userid = sessionStorage.getItem('userid');
                axios.get('http://localhost:8080/vue_wsdcxt/index/showOrders.action?page=' + _this.page + '&limit=' + _this.limit + '&userid=' + _this.userid).then(result => {
                    _this.ordersList = result.data.data;
                    _this.count = result.data.count;
                    if (_this.page == 1) {
                        _this.loadPage();
                    }
                });
            },
            orderHistory: function(ordersid) {
                axios.get('../index/orderHistory.action?id=' + encodeURIComponent(ordersid)).then(result => {
                    const records = result.data.map(event => event.created_at + '：' + event.from_status + ' → ' + event.to_status + '，' + (event.reason || '无备注'));
                    alert(records.length ? records.join('\n') : '暂无操作记录');
                }).catch(() => {});
            },
            cancelOrder: function(ordersid) {
                if (!window.confirm('确定取消该订单吗？')) return;
                axios.post('http://localhost:8080/vue_wsdcxt/index/cancel.action?id=' + ordersid).then(result => { alert(result.data.message); if (result.data.success) this.loadTable(); });
            },
            refundOrder: function(ordersid) {
                const reason = window.prompt('请输入退款原因（1到500字）：');
                if (reason === null) return;
                if (!reason.trim() || reason.trim().length > 500) { alert('请填写1到500字的退款原因'); return; }
                axios.post('../index/refund.action?id=' + encodeURIComponent(ordersid) + '&reason=' + encodeURIComponent(reason.trim())).then(result => { alert(result.data.message); if (result.data.success) this.loadTable(); });
            },
            loadPage: function() { // 调用LayUI分页标签的使用
                let _this = this;
                _this.userid = sessionStorage.getItem('userid');
                _this.islogin = sessionStorage.getItem('userid') == null;
                _this.realname = sessionStorage.getItem('realname');
                layui.use(['laypage'], function() {
                    const laypage = layui.laypage;
                    laypage.render({
                        elem: 'layui', // 定义标签显示
                        count: vue.count, //数据量
                        limit: vue.limit, //每页限制
                        jump: function(obj, first) {
                            if (!first) {
                                vue.page = obj.curr;
                                vue.loadTable();
                            }
                        }
                    });
                })
            },
            toOver: function(ordersid) {
                axios.post('http://localhost:8080/vue_wsdcxt/index/over.action?id=' + ordersid).then(result => {
                    if (result.data.code > 0) {
                        this.loadTable();
                    } else {
                        alert(result.data.message || '修改失败');
                    }
                });
            },
            query: function() {
                let url = "query.html?id=" + this.key;
                window.location.href = url;
            },
        },
        created() { // 生命周期相关的函数
            this.loadTable();
        },
    })
</script>

</html>
